/*------------------------------------*\
    $Contents
\*------------------------------------*/
/**
 * Contents
 * Variables
 * Mixins
 * Reset / Base
 * Type
 * Links
 * Lists
 * Tables
 * Helpers
 * Buttons
 * Forms
 * Layout

 * Site Header
 * Page Header
 * Dropdown Menus
 * Carousel
 * Carousel Panel
 * News
 * Advert
 * Player Profile
 * Features
 * Tiles
 * Content
 * Sidebar
 * Pods
 * Section
 * Social
 * Ladder
 * Footer

 */





/*------------------------------------*\
    $Variables
\*------------------------------------*/
$pink: #cf1344;
$pink_hover: #ff1c4b;
$blue: #646c7a;
$blue_hover: #495161;
$grey: #424242;
$burgandy: #611529;

$eleven: 0.6875;            /* 11px: 1 / (16x11) = 0.6875   */
$twelve: 0.750em;           /* 12px: 1 / (16x12) = 0.750    */
$thirteen: 0.8125em;        /* 13px: 1 / (16x13) = 0.8125em */
$fourteen: 0.875em;         /* 14px: 1 / (16x14) = 0.875    */
$fifteen: 0.9375em;         /* 15px: 1 / (16x15) = 0.9375   */
$sixteen: 1em;              /* 16px                         */
$twenty: 1.5em;             /* 20px: 1 / (16x24) = 1.500    */
$twenty-six: 1.625em;       /* 26px: 1 / (16x26) = 1.625    */
$thirty-four: 2.125em;      /* 34px: 1 / (16x34) = 2.215    */
$fifty-seven: 3.375em;      /* 57px: 1 / (16x57) = 3.375    */
$sixty: 3.75em;             /* 60px: 1 / (16x60) = 3.75     */
$seventy: 4.375em;          /* 70px: 1 / (16x70) = 4.375    */
$eightyfive: 5.3125em;      /* 85px: 1 / (16x85) =  5.3125  */






/*------------------------------------*\
    $Mixins
\*------------------------------------*/
@mixin breakpoint($point) {
    @if $point == medium {
        @media (max-width: 990px) { @content; }
    }
    @else if $point == small {
        @media (max-width: 770px) { @content; }
    }
}

@mixin clearfix {
    *zoom : 1;
    
    &:before, &:after {
        display: table;
        content : "";
    }
    
    &:after {
        clear: both;
    }

}

@mixin image-2x($image, $width, $height) {
    @media (min--moz-device-pixel-ratio: 1.3),
        (-o-min-device-pixel-ratio: 2.6/2),
        (-webkit-min-device-pixel-ratio: 1.3),
        (min-device-pixel-ratio: 1.3),
        (min-resolution: 1.3dppx) {
    /* on retina, use image that's scaled by 2 */
    background-image: url($image);
    background-size: $width $height;
    }
}

@mixin gotham-bold() {
    font-family: "Gotham SSm A", "Gotham SSm B";
    font-weight: 700;
    font-style: normal;
}

@mixin gotham-medium() {
    font-family: "Gotham SSm A", "Gotham SSm B";
    font-weight: 500;
    font-style: normal;
}

@mixin gotham-book() {
    font-family: "Gotham SSm A", "Gotham SSm B";
    font-weight: 400;
    font-style: normal;
}




/*------------------------------------*\
    $Reset / Base
\*------------------------------------*/
* {
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}
/**
 * Based on Eric Meyer's Reset 2.0 (http://meyerweb.com/eric/tools/css/reset/)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

html {
    overflow-y: scroll;
}

body {
    @include gotham-medium;
    font-weight: 100;
    font-size: 100%;
	line-height: 1.5;
	color: #3D3D3D;
    background-color: #d6d6d6;

    @include breakpoint(small) {
        background-color: #11232e;
        background-position: 0 0;
        background-repeat: repeat;
        background-image: url(../images/mobile-menu-bg.gif);
    }

}

img {
    max-width: 100%;
    height: auto;
    border: 0;
}

    .google-map img {
        max-width: none;
    }

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}





/*------------------------------------*\
    $Type
\*------------------------------------*/
/**
 * Baselined lifted from: http://joshnh.com/2012/10/12/how-does-line-height-actually-work/
*/
h1,
h2,
h3,
h4,
h5,
h6 {
    @include gotham-bold;
    margin: 0;
}

    h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
        text-decoration: none;
    }

h1, .h1 {
    margin-bottom: 0;
    color: #fff;
    font-size: $eightyfive;
    line-height: 0.9;
    text-transform: uppercase;
    letter-spacing: -10px;

    @include breakpoint(small) {
        font-size: 4em;
    }   

}

h2, .h2 {
    font-size: 1.5em;
    line-height: 1.333333333;
    margin-bottom: 0.666666666em;
}

h3, .h3 {
    font-size: 1.4em;
    line-height: 1;
    margin-bottom: 1em;
}

h4, .h4 {
    font-size: 1.1em;
    line-height: 1.142857142;
    margin-bottom: 1.142857142em;
}

h5, .h5 {
    font-size: 1.125em;
    line-height: 1.333333333;
    margin-bottom: 1.333333333em;
}

h6, .h6 {
    font-size: 1em;
    line-height: 1.5;
    margin-bottom: 1.5em;
}

p {
    font-size: 1em;
    margin-bottom: 1em;
    line-height: 1.5;
    @include gotham-book;
}

b, strong {
    font-weight: bold;
}

em {
    font-style: italic;
}

small {
    font-size: 80%;
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup {
    top: -0.5em;
}

sub {
    bottom: -0.25em;
}





/*------------------------------------*\
    $Links
\*------------------------------------*/
a {
    color: #333;
    text-decoration: underline;

    &:focus, &:active {
        outline: none;
    }

    &:hover {
        text-decoration: underline;
    }
}





/*------------------------------------*\
    $Lists
\*------------------------------------*/
ul, ol {
    list-style: none;
    margin: 0 0 1em 0;
}





/*------------------------------------*\
    $Tables
\*------------------------------------*/
table {
	border-collapse: collapse;
	border-spacing: 0;
}





/*------------------------------------*\
    $Helpers
\*------------------------------------*/
/**
 * $Clearfix
*/
.cf:before,
.cf:after {
    content:"";
    display:table;
}

.cf:after {
    clear:both;
}

.cf {
    zoom:1;
}


/**
 * $Floats
*/
.left {
    float: left;
}

.right {
    float: right;
}

.hide {
    display: none;
}


/**
 * $Text Alignment
*/
.text-left {
    text-align: left;
}

.text-center, .text-centre {
    text-align: center;
}

.text-right {
    text-align: right;
}

.content--show {
    display: block !important;
}





/*------------------------------------*\
    $Buttons
\*------------------------------------*/
.button {
    display: inline-block;
    padding: 0.3em 1em;
    margin-bottom: 1em;
    text-decoration: none;
    background-color: #ebebeb;

    &:hover {
        color: #fff;
        text-decoration: none;
        background-color: #626262;
    }

}

.button--pink {
    color: #fff;
    text-transform: uppercase;
    background-color: $pink;

    &:hover {
        color: #fff;
        text-decoration: none;
        background-color: $pink_hover;
    }

}

.button--blue {
    color: #fff;
    background-color: $blue;

    &:hover {
        color: #fff;
        text-decoration: none;
        background-color: $blue_hover;
    }

}

.button--grey {
    color: #ffffff;
    background-color: $grey;
}

.button--red {
    color: #ffffff;
    background-color: $burgandy;
}

.button--arrow {
    background-repeat: no-repeat;
    background-position: 95% 50%;
    background-image: url(../images/buttons/arrow.png);
}

.pink-arrow {
    color: $pink;
    font-size: $twelve;
    padding-right: 20px;
    text-transform: uppercase;
    text-decoration: none;
    background-color: transparent;
    background-position: 100% 50%;
    background-repeat: no-repeat;
    background-image: url(../images/buttons/pink-arrow-small.png);

    &:hover {
        text-decoration: none;        
    }

}




/*------------------------------------*\
    $Forms
\*------------------------------------*/
fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
    -moz-border-radius:5px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
}

legend {
    border: 0;
    padding: 0;
}

input,
select,
textarea,
button {
    font-family: inherit;
    font-size: 100%;
    margin: 0;
}

textarea {
    overflow: auto;
    vertical-align: top;
}

/**
 * $Input Lengths
*/
.s {
    width: 25%;
}

.m {
    width: 50%;
}

.l {
    width: 75%;
}

.xl {
    width: 100%;
}





/*------------------------------------*\
    $Layout
\*------------------------------------*/
.inner {
    margin: 0 auto;
    max-width: 1040px;
    padding: 2.5em;

    @include clearfix;

    @include breakpoint(small) {
        padding: 0;
    }

}

.section {
    float: left;
    width: 100%;
    padding: 1em;
}

.full {
    float: left;
    width: 100%;
}

.half {
    float: left;
    width: 50%;

    @include breakpoint(small) {
        width: 100%;
    }

}

.two-thirds {
    float: left;
    width: 66.666666666%;

    @include breakpoint(small) {
        width: 100%;
    }

}

.third {
    float: left;
    width: 33.333333333%;

    @include breakpoint(small) {
        width: 100%;
    }

}

.three-quarters {
    float: left;
    width: 75%;

    @include breakpoint(small) {
        width: 100%;
    }

}

.quarter {
    float: left;
    width: 25%;

    @include breakpoint(small) {
        width: 100%;
    }

}

.three-fifths {
    float: left;
    width: 60%;

    @include breakpoint(small) {
        width: 100%;
    }

}

.two-fifths {
    float: left;
    width: 40%;
}

.fifth {
    float: left;
    width: 20%;
}





/*------------------------------------*\
    $Site Header
\*------------------------------------*/
.site-header {
    margin: 0 auto;
    max-width: 1040px;
    position: relative;
    height: 65px;
    padding-left: 150px;
    padding-right: 20px;
    background-color: #e3e3e3;
    @include clearfix;

    @include breakpoint(small) {
        height: 100px;
        background-color: #c7c7c7;
    }

}

/* $Logo */
.header__logo {
    position: absolute;
    top: 0;
    left: 25px;
    z-index: 6;
    margin-right: 1em;

    img {
        display: block;
    }
}


.header__name {
    float: left;
}

/* $Main Nav */
.header__nav {
    float: left;
    width: 100%;
    height: 100%;
    margin-bottom: 0;
    margin-left: 0;
    list-style: none;

    @include breakpoint(small) {
        display: none;
        width: 90%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 100%;
        z-index: 1;
    }

    ul {
        height: 100%;
        margin-bottom: 0;
    }

    li {
        display: inline;
    }

}

.header__link {
    display: inline-block;
    height: 100%;
    padding: 3em 0.75em 0.5em 0.75em;
    color: #494949;
    font-size: $twelve;
    text-decoration: none;
    text-transform: uppercase;

    &.active, &:hover {
        text-decoration: none;
        background-repeat: no-repeat;
        background-position: 50% 100%;
        background-image: url(../images/header__link--hover.gif);
    }

    @include breakpoint(small) {
        display: block !important;
        padding: 1em;
        height: auto;
        color: #61779f;
        text-transform: none;
        font-size: 1.6em;
        border-bottom: 1px solid #26394a;
        background: url("../images/pink-arrow.png") no-repeat;
        @include image-2x("../images/pink-arrow@2.png", 25px, 28px);
        background-position: 98% 50%;

        &:hover {
            background: url("../images/pink-arrow.png") no-repeat;
            @include image-2x("../images/pink-arrow@2.png", 25px, 28px);
            background-position: 98% 50%;
        }
    }

}

@include breakpoint(small) {
    .header__link.right {
        float: none;
    }

    .header__link.active {
        background: url("../images/pink-arrow.png") no-repeat;
        @include image-2x("../images/pink-arrow@2.png", 25px, 28px);
        background-position: 98% 50%;
    }
}

.toggle-menu {
    display: none;
    background: url("../images/toggle-menu.png") no-repeat;
    @include image-2x("../images/toggle-menu@2.png", 43px, 33px);

    @include breakpoint(small) {
        display: block;
        float: right;
        width: 43px;
        height: 33px;
        margin-top: 35px;
        text-indent: -9999px;
    }

}

.close-menu {
    display: none;
    width: 100%;
    min-height: 45px;
    padding: 1em;
    border-bottom: 1px solid #61779f;
    color: #7e9daf;
    font-size: 2em;
    text-decoration: none;
    text-transform: uppercase;
    background: url("../images/close-menu.png") no-repeat;
    @include image-2x("../images/close-menu@2.png", 23px, 22px);
    background-position: 98% 50%;
    /*background-color: transparent;
    background-repeat: no-repeat;
    background-image: url(../images/close-menu.png);*/

    @include breakpoint(small) {
        display: block;
    }

    &:hover {
        text-decoration: none;
    }

}






/*------------------------------------*\
    $Page Header
\*------------------------------------*/
.page-header {
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-image: url(../images/page-header-bg.png);

    .inner {
        position: relative;
        height: 225px;
        padding-top: 1.5em;
        padding-bottom: 1.5em;

        @include breakpoint(small) {
            padding: 1.5em;
            height: auto;
        }

    }

    h1 {
        padding-top: 110px;

         @include breakpoint(small) {
            padding-top: 0;
         }

    }

}




/*------------------------------------*\
    $Dropdown Menus
\*------------------------------------*/
.extra-nav {
    display: none;
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    max-width: 1040px;
    height: 430px;
    z-index: 5;
    background-color: transparent;
    background-position: 0 0;
    background-repeat: no-repeat;
    background-image: url(../images/carousel/dropdown-bg.png);

    @include breakpoint(small) {
        display: none;
    }

}

.dropdown {
    display: none;
    margin: 0 auto;
    padding: 2em 2em 2em 155px;

    p {
        margin-bottom: 0.5em;
        padding-right: 1em;
        font-size: $fourteen;
    }

    .button {
        padding: 1em;
        font-size: $twelve;
        text-transform: uppercase;
    }

}

.dropdown__title {
    display: block;
    padding-bottom: 0.5em;
    margin-right: 0.5em;
    margin-bottom: 0.5em;
    color: #121212;
    font-size: $fourteen;
    
    font-weight: normal;
    border-bottom: 1px solid #d4d5d6;
}

.dropdown__title--plain {
    padding-bottom: 0;
    border-bottom: 0;
    color: #121212;
}


/*
* News Dropdown
*/
.news-summary {
    @extend .third;
}

    .news-summary__image {
        display: block;
        border: 2px solid #d6d6d6;
        margin-bottom: 1em;
        -webkit-box-shadow: 0px 10px 20px rgba(51, 51, 51, 0.75);
        -moz-box-shadow:    0px 10px 20px rgba(51, 51, 51, 0.75);
        box-shadow:         0px 10px 20px rgba(51, 51, 51, 0.75);
    }

.also-news {

    .dropdown__title {
        padding-bottom: 0.5em;
        margin-bottom: 0;
        font-size: $fourteen;
        color: #121212;
    }

    .button {
        @extend .full;
    }

}


/*
* Team Dropdown
*/
.dropdown--team {
    padding: 2em 2em 2em 50px;
}

.arrow-list {
    margin-left: 0 !important;
    margin-bottom: 2em;
    list-style: none !important;

    a {
        display: block;
        padding: 0.2em 2em 0.2em 0;
        text-decoration: none;
        font-size: $fourteen;
        border-bottom: 1px solid #d4d5d6;
        background-color: transparent;
        background-repeat: no-repeat;
        background-position: 97% 50%;
        background-image: url(../images/buttons/pink-arrow-small.png);

        &:hover {
            color: #a61a1a;
        }

    }

}

.arrow-list--plain {
    
    li {
        float: left;
        width: 33.333333333%;
        margin-bottom: 0.2em;
    }

    a {
        padding: 0 0 0 1.5em;
        border-bottom: 0;
        background-position: 0.1em 50%;
    }

}

.squad-list {

    li {
        float: left;
        width: 25%;
    }

    a {
        padding-left: 2.5em;
        padding-right: 0.2em;
        background-position: 5% 25%;
    }

    span {
        display: block;
        color: #363636;
        font-size: $thirteen;
    }

}

.team-kit {
    margin-top: 3em;
}

.dropdown--club {

    .button {
        width: 75%;
    }

}


/*
* Matches Dropdown
*/
.next-match {

    .teams {
        overflow: hidden;
        margin-right: 0.5em;
        text-align: center;
        border-bottom: 1px solid #d4d5d6;

        p {
            font-size: $twelve;
        }

    }

    .button {
        width: 40%;
        padding: 1em;
    }

}

.lineup {
    margin-bottom: 10px;
    min-height: 30px;
    background-repeat: no-repeat;
    background-position: 50%;
    background-image: url(../images/white-vs.png);
}

.fixtures {
    padding-right: 0.5em;
    margin-right: 0;

    .dropdown__title {
        margin-right: 0;
    }

}

.ladder {

    .dropdown__title {
        margin-right: 0;
    }

}

.fixtures-ladder {

    .dropdown__title {
        margin-bottom: 0;
    }

    table {
        width: 100%;
        font-size: 11px;
        @include gotham-book;

        tr {
            border-bottom: 1px solid #c8cbd0;
        }

        th {
            text-transform: uppercase;
            padding: 9px 5px;
            text-align: left;
        }

        td {
            padding: 10px 7px;
        }

        .date {
            text-transform: uppercase;
            width: 60px;
        }

        .result {
            text-align: right;
        }

        .points {
            width: 45px;
            text-align: right;
        }

        .highlight td {
            background-color: rgba(255, 255, 255, 0.5);
        }

    }
    
    .table-header {
        border-bottom: 0;
        background-color: rgba(255, 255, 255, 0.3);
    }

    .button {
        width: 100%;
        padding: 1em;
        border-top: 1px solid #d4d5d6;
    }

}


/**
* Club Dropdown
*/
.dropdown--club {
    padding: 2em 2em 2em 50px;

    .button {
        width: 97%;
    }
}


/**
* Shop Dropdown
*/
.dropdown--shop, 
.dropdown--tickets, 
.dropdown--membership, 
.dropdown--rabo {

    .button {
        width: 35%;
    }

}

.dropdown__image {
    float: left;
    margin-right: 1em;
}




/*------------------------------------*\
    $Carousel
\*------------------------------------*/
.carousel {
    position: relative;
    width: 100%;
    max-width: 1045px;
    margin: 0 auto;

    .panel {
        @include clearfix;
        display: none;
        position: relative;
        width: 100%;
        height: 100%;
        background-color: transparent;
        background-position: 50% 0;
        background-repeat: no-repeat;
    }

    .panel:first-of-type {
        display: block;
    }

}

.carousel--match {
    height: 585px;

    @include breakpoint(small) {
        height: auto;
    }

    h1 {
        font-size: $eightyfive;
        @include breakpoint(small) {
            font-size: 4em;
        }
    }

}

.panel__image {
    display: block;
    margin: 0 auto;
}

.image-effect {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-image: url(../images/carousel-image-effect.png);
}






/*------------------------------------*\
    $Carousel Controls
\*------------------------------------*/
.carousel__controls {
    position: absolute;
    top: 2em;
    right: 2em;
    z-index: 4;
    list-style: none;

    @include breakpoint(small) {
        top: auto;        
        right: auto;
        bottom: -0.5em;
        left: 45%;
    }

}

.carousel__thumbnail {
    float: left;
    margin: 0 0.2em 0.2em 0;
    border: 4px solid #8391a1;

    @include breakpoint(small) {
        border: none;
    }

    img {
        display: block;
        opacity: 0.7;

        @include breakpoint(small) {
            display: none;            
        }

        &:hover {
            opacity: 1;
        }
    }

    &:nth-child(odd) {
        clear: left;
    }

}

@include breakpoint(small) {
    .carousel__thumbnail a {
        display: block;
        width: 20px;
        height: 20px;
        border: 4px solid #335d73;
        border-radius: 20px;
        background-color: #335d73;
    }

    .carousel__thumbnail--active a {
        border: 4px solid #8391a1;
        background-color: #8391a1;
    }
}

.carousel__thumbnail--active img {
    opacity: 1;
}






/*------------------------------------*\
    $Carousel Panel
\*------------------------------------*/
.panel-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    background-color: rgba(25, 40, 58, 0.8);

    @include breakpoint(small) {
        float: left;
        width: 100%;
        position: relative;
        bottom: auto;
        left: auto;
        background-color: #002e48;
    }

    .button {
        margin-bottom: 0;
    }

}

@include breakpoint(small) {
    .carousel--has-controls .panel-overlay {
        padding-bottom: 3em;
    }
}

.panel-overlay--short {
    width: 50%;
    padding-bottom: 1em;

    @include breakpoint(small) {
        width: 100%;
    }

    .button {
        position: absolute;
        bottom: 0;
        @include breakpoint(small) {
            left: 0;
        }
    }
}

.panel-overlay--right {
    left: auto;
    right: 0;
}

.sticker {
    position: absolute;
    top: -10px;
    left: -10px;
    width: 98px;
    height: 98px;
    text-indent: -9999px;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: 0 0;

    @include breakpoint(small) {
        display: none;
    }

}

    .sticker.win {
        background-image: url(../images/stickers/winners.png);
    }

    .sticker.next {
        background-color: $pink;
    }

.panel__title {
    color: #fff;
    padding: 15px 30px;

    @include breakpoint(small) {
        padding: 0.5em;
    }
}

    .vs {
        display: inline-block;
        width: 45px;
        height: 45px;
        margin-left: 0.3em;
        background-color: transparent;
        background-position: 0 0;
        background-repeat: no-repeat;
        background-image: url(../images/vs.png);
    }

    .match__team {
        display: block;
        float: left;
        clear: left;
    }

    .match__points {
        color: #7589ab;
    }

.stats {
    float: left;
    padding: 15px 15px 0 15px;

    @include breakpoint(small) {
        width: 100%;
        padding: 0 0.5em;
    }

    ul {
        margin-bottom: 15px;
        
        @include breakpoint(small) {
            float: left;
        }
    }

    li, p {
        color: #fff;

        @include breakpoint(small) {
            display: inline;
        }

    }

}

.stat {
    float: left;
    width: 50%;
    margin-bottom: 10px;
}

    .stat__title {
        font-size: $twelve;
        line-height: 1;
        color: #9eb3cb;
        text-transform: uppercase;

        @include breakpoint(small) {
            float: left;
            clear: left;
            margin-right: 0.5em;
            font-size: $sixteen;
        }

    }

.match__summary {
    padding-top: 0.8em;
    padding-left: 2em;
    margin-bottom: 0;
    height: 3em;
    color: #fff;
    background-color: #69788a;

    @include breakpoint(small) {
        display: none;
    }

}

.match__actions {

    @include breakpoint(small) {
        width: 100%;
        padding-left: 5%;
        padding-right: 5%;
    }

    .button {
        height: 4em;
        line-height: 4em;
        padding-top: 0;
        padding-bottom: 0;
        font-size: $twelve;

        &:first-of-type {
            width: 49%;
            margin-right: 1%;
        }

        @include breakpoint(small) {
            width: 50%;
        }
    }

}

.quick-stats {
    float: left;
    width: 100%;
    border-top: 1px solid #53606e;
    color: #fff;
    font-size: $twelve;

    li {
        float: left;
        width: 100%;
        padding: 0.2em 0;
        border-bottom: 1px solid #53606e;
    }

    span:nth-child(odd) {
        float: left;
        display: inline-block;
        width: 30%;
        text-transform: uppercase;
    }

    span:nth-child(even) {
        float: left;
        width: 70%;
    }

}




/*------------------------------------*\
    $News
\*------------------------------------*/
.main {
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-image: url(../images/main-bg.gif);

    @include breakpoint(small) {
        background-image: none;
    }

    .inner {
        padding-top: 2.5em;
        padding-bottom: 2.5em;

        @include breakpoint(small) {
            padding: 0.5em;
        }

    }

}

.article__date {
    color: #8E8E8E;
    text-transform: uppercase;
}

.news-item {
    position: relative;
    overflow: hidden;
    padding: 0 0.5em 0.5em 0.5em;
    height: 260px;
    border-right: 2px solid #d6d6d6;
    border-bottom: 2px solid #d6d6d6;
    background-color: #fff;
    text-decoration: none;

    @include breakpoint(small) {
        height: auto;
        border-right: 0;
    }

    a {
        float: left;
        overflow: hidden;
        text-decoration: none;
        border-top: 0.5em solid #fff;

        @include breakpoint(small) {
            width: 100%;
        }

    }

    p {
        float: left;
        padding-right: 0.5em;
        margin-bottom: 0;
        color: #363636;
        text-decoration: none;

        @include breakpoint(small) {
            width: 60%;
            padding-left: 0.5em;
        }

    }

}

.news-item--past {
    background-color: #eaeaea;

    a {
        border-top: 0.5em solid #eaeaea;
    }

}

.news-item.last {
    border-right: 0;
}

.news__title {
    height: 260px;
    padding: 0.2em;
    margin-bottom: 0;
    border-right: 2px solid #d6d6d6;
    border-bottom: 2px solid #d6d6d6;
    color: #8b8d90;
    font-size: $thirty-four;
    letter-spacing: -3px;
    text-transform: uppercase;
    background-color: #fff;

    @include breakpoint(small) {
        height: auto;
        color: #fff;
        font-size: $twenty;
        border-right: 0;
        background-color: transparent;
    }

}

.news-item__image {
    display: block;
    width: 100%;

    @include breakpoint(small) {
        float: left;
        width: 40%;
        max-width: 220px;
        margin: 0;
    }

}

.news-item__info {
    position: absolute;
    top: 0.5em;
    left: 0.5em;

    @include breakpoint(small) {
        position: relative;
        top: auto;
        left: auto;
        float: left;
        width: 60%;
        padding-left: 0.5em;
    }

}

.news-item__date {
    display: block;
    width: 45px;
    height: 45px;
    padding: 0.2em;
    color: #fff;
    @include gotham-bold;
    line-height: 1.2;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    background-color: #677986;

    @include breakpoint(small) {
        display: inline;
        float: left;
        width: auto;
        height: auto;
        margin-right: 0.5em;
        padding: 0;
        color: #8b8b8b;
        background-color: transparent;
    }

    .month {
        font-size: $twelve;
    }

}

.news-item__icon {
    position: absolute;
    top: 45px;
    left: 0;

    @include breakpoint(small) {
        position: relative;
        top: 0;
        left: 0;
    }
}

.icon {
    display: inline-block;
    width: 45px;
    height: 45px;
    background-color: $pink;
    background-repeat: no-repeat;
    background-position: 50%;

    @include breakpoint(small) {
        width: 30px;
        height: 20px;
    }

}

    .icon.video {
        background-image: url(../images/icons/video.gif);

        @include breakpoint(small) {
            background-image: url(../images/icons/video-small.gif);
        }

    }

    .icon.win {
        color: #fff;
        @include gotham-bold;
        font-size: $twelve;
        line-height: 45px;
        text-align: center;
        background-color: #5D7B01;

        @include breakpoint(small) {
            float: left;
            line-height: 1.7;
        }

    }

.news-item__view {
    color: $pink;
    font-size: $twelve;
    text-decoration: none;
    text-transform: uppercase;


    @include breakpoint(small) {
        margin-left: 0.5em;
    }

    &:hover {
        text-decoration: none;
    }

}

.fixture-item {
    position: relative;
}

.fixture__info {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 30px;
    line-height: 30px;
    color: #fff;
    text-transform: uppercase;
    font-size: $twelve;
    text-align: center;
    background-color: #243746;

    @include breakpoint(small) {
        position: relative;
        bottom: auto;
        left: auto;
        padding-left: 0.5em;
        color: #8B8B8B;
        font-size: $sixteen;
        text-transform: none;
        background-color: transparent;
    }

}

    .news-item--past .fixture__info {
        opacity: 0.6;
    }

.fixture-teams {
    width: 100%;
    text-align: center;
    padding-right: 0;
    padding-top: 0.5em;
    text-transform: uppercase;

    @include breakpoint(small) {
        text-align: left;
    } 

    span {
        display: block;
    }

}

.load-more {
    display: block;
    float: left;
    clear: left;
    width: 100%;
    padding: 0.3em;
    color: #A7A7A7;
    font-size: $thirty-four;
    @include gotham-bold;
    text-transform: uppercase;
    text-decoration: none;
    background-color: #fff;
    background-repeat: no-repeat;

    @include breakpoint(small) {
        font-size: $twenty;
    }


    &:hover {
        color: #333;
        text-decoration: none;
    }

}

.load-more--plus {
    padding-right: 2em;
    background-position: 98% -15%;
    background-image: url(../images/plus.gif);

    @include breakpoint(small) {
        background-position: 98% -5%;
    }

    &:hover {
        background-position: 98% 115%;
    }

}

.load-more--list {
    width: 74%;
    padding-left: 2em;
    margin-top: 1px;
    margin-bottom: 0.5em;
    background-position: 2% 50%;
    background-image: url(../images/list.gif);
}

.load-more--loading {
    color: #333;
    background-position: 98% 50%;
    background-image: url(../images/ajax-loader.gif);

    &:hover {
        background-position: 98% 50%;
    }

}

.sort-by {
    float: left;
    display: block;
    width: 50%;
    padding: 1em 0.5em;
    border-bottom: 1px solid #d6d6d6;
    color: #a7a7a7;
    @include gotham-medium;
    font-size: $twenty;
    text-decoration: none;
    text-transform: uppercase;
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: 98% -35%;
    background-image: url(../images/grey-arrow.gif);

        @include breakpoint(small) {
            font-size: $sixteen;
        }

    &:first-of-type {
        border-right: 1px solid #d6d6d6;
    }

    &:hover {
        color: #333;
        text-decoration: none;
        background-position: 98% 132%;
    }
}






/*------------------------------------*\
    $Advert
\*------------------------------------*/
.team {
    padding-bottom: 2.5em;
    border-left: 10px solid #D6D6D6;
    border-right: 10px solid #D6D6D6;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-image: url(../images/team-bg.gif);

    .inner {
        padding-top: 0;
        padding-bottom: 0;
    }
}

.advert {
    padding: 1.5em;
}

.advert__image {
    display: block;
    margin: 0 auto;

    @include breakpoint(small) {
        display: none;
    }

}

.advert__image--mobile {
    display: none;
    margin: 0 auto;
    border: 8px solid #fff;

    @include breakpoint(small) {
        display: block;
    }
}






/*------------------------------------*\
    $Player Profile
\*------------------------------------*/

.carousel--player {
    overflow: hidden;
    border: 8px solid #fff;

    h1 {
        line-height: 1;
        letter-spacing: -7px;
        font-size: $seventy;

        @include breakpoint(medium) {
            font-size: $sixty;            
        }
    }

    .quarter {
        position: relative;

        @include breakpoint(small) {
            height: 50px;
            min-height: auto;
        }
    }

    .button {
        height: 3em;
        line-height: 2.5em;
        font-size: $twelve;

        @include breakpoint(small) {
            float: left;
            width: 50%;
        }
    }

}

/*.player-profile {
    margin: 0 auto;
    max-width: 940px;
    min-height: 450px;
    border: 8px solid #fff;

    .quarter {
        position: relative;

        @include breakpoint(small) {
            height: 50px;
            min-height: auto;
        }
    }

    .button {
        height: 3em;
        line-height: 2.5em;
        font-size: $twelve;

        @include breakpoint(small) {
            float: left;
            width: 50%;
        }
    }

}*/

.player-profile__name {
    padding: 1em;
}

 .player__stats {
    height: 190px;
    min-height: 190px;
    padding: 0;
    padding-top: 1em;

        @include breakpoint(small) {
            width: 50%;
            height: auto;
            min-height: inherit;
        }

    .stat {
        @include breakpoint(small) {
            display: none;
        }
    }

    .button {
        position: absolute;
        left: 0;
        bottom: 0;
        margin-bottom: 0;
        width: 99%;
    }

 }

 .player__squad {
    height: 190px;
    min-height: 190px;

    @include breakpoint(small) {
        width: 50%;
        height: auto;
        min-height: inherit;
    }

    .button {
        position: absolute;
        left: 0;
        bottom: 0;
        margin-bottom: 0;

        @include breakpoint(small) {
            width: 100%;
        }
    }

 }

 .view-squad {
    display: block;
    float: left;
    width: 100%;
    height: 100%;
    color: #626262;
    padding: 0.2em;
    line-height: 1;
    @include gotham-bold;
    font-size: $thirty-four;
    text-transform: uppercase;
    text-decoration: none;
    background-color: #e2e3e4;

    &:hover {
        text-decoration: none;
    }

    @include breakpoint(small) {
        display: none;
    }

 }

.jersey {
    position: relative;
    color: #fff;
    font-size: $twelve;

    .label {
        display: block;
        position: absolute;
        top: 45%;
        left: 1em;
        text-transform: uppercase;

        /* Safari */
        -webkit-transform: rotate(-90deg);

        /* Firefox */
        -moz-transform: rotate(-90deg);

        /* IE */
        -ms-transform: rotate(-90deg);

        /* Opera */
        -o-transform: rotate(-90deg);

        /* Internet Explorer */
        filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
    }
}

.jersey__number {
    float: right;
    margin-right: 0.1em;
    @include gotham-bold;
    font-size: 8.5em;
}

.content-switcher {
    position: absolute;
    top: 2em;
    right: 4em;
    color: #c6d2e6;
    font-size: $twelve;
    text-transform: uppercase;
    background-color: #61779f;

    a {
        display: inline-block;
        float: left;
        height: 40px;
        color: #c7d2e6;
        text-decoration: none;
        background-color: transparent;
        background-position: 0 0;
        background-repeat: no-repeat;
        background-image: url(../images/buttons/blue-arrows.png);

        &:hover {
            background-color: #4767a1;
        }

    }

    .switch {
        padding: 0.9em 1em 0.5em 40px;
        background-position: 0 -120px;
    }

    .previous {
        width: 40px;
        border-left: 1px solid #8a99b5;
        text-indent: -9999px;
        background-position: 0 -120px;
    }

    .next {
        width: 40px;
        border-left: 1px solid #8a99b5;
        text-indent: -9999px;
        background-position: 0 -40px;
    }

}

.content-switcher--news .switch {
    background-image: url(../images/buttons/blue-menu.gif);
}




/*------------------------------------*\
    $Features
\*------------------------------------*/
.features {
    border-left: 10px solid #D6D6D6;
    border-right: 10px solid #D6D6D6;
    background-repeat: no-repeat;
    background-position: 0 0;
    background-image: url(../images/features-bg.gif);
}





/*------------------------------------*\
    $Tiles
\*------------------------------------*/
.tiles {
}


.tile {
    position: relative;
    float: left;
    overflow: hidden;
    width: 24.9%;
    height: 380px;
    margin-right: 1px;
    padding-bottom: 4.5em;
    border: 8px solid #fff;
    cursor: pointer;

    @include breakpoint(medium) {
        //width: 49.8%;
    }

    @include breakpoint(small) {
        width: 100%;
        margin-bottom: 1%;
        margin-right: 0;
    }

    &:nth-child(4n+4) {
        margin-right: 0;
        margin-bottom: 0;
    }

}

.tile.last {
    margin-right: 0;
}

.tile__image {
    display: block;
    float: left;
    width: 100%;
    height: 380px;
    background-position: 50% 0;
    background-repeat: no-repeat;
    background-color: transparent;
}

.tile__overlay {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    min-height: 110px;
    margin-bottom: 0;
    padding: 0.5em;
    background-color: #8b8c8e;
    cursor: pointer;

    &:hover {
        text-decoration: none;
        background-color: #686868;
    }
}

.tile__title {
    color: #fff;
    font-size: $thirty-four;
    @include gotham-medium;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: -4px;

    &:hover {
        text-decoration: none;
        background-color: #686868;
    }
}

.tile__content {
    display: none;
    color: #b2b2b2;
    line-height: 1.3;

    span {
        display: block;
        margin-top: 10px;
        color: #fff;
        font-size: $twelve;
        text-transform: uppercase;
    }
}





/*------------------------------------*\
    $Content
\*------------------------------------*/
.container {
    width: 100%;
}

.content {
    position: relative;
    float: left;
    width: 74%;
    padding: 0.5em 0.5em 2em 0.5em;
    margin-right: 1%;
    background-color: #fff;

    @include breakpoint(small) {
        width: 100%;
    }

    .text {
        width: 75%;
    }

    p {
        color: #424242;
    }

    img {
        margin-bottom: 1em;
    }

    blockquote {
        margin-bottom: 0.5em;
        color: #a31c3f;
        font-weight: bold;
        line-height: 1;
        text-transform: uppercase;
        font-size: $thirty-four;
    }

    h3 {
        color: #777;
        font-size: $twenty-six;
    }

    h4 {
        color: #3c3c3c;
    }

    ul {
        overflow: hidden;
        margin-left: 1em;
        list-style: disc inside;
        color: #424242;
    }

}

.content--wide {
    width: 100%;
    padding-bottom: 6em;
    margin-right: 0;
    margin-bottom: 10px;
}

@include breakpoint(small) {
    .content p, .content blockquote, .content ul {
        width: 100%;
    }
}

.content__title {
    color: #8e8e8e;
    line-height: 1;
    text-transform: uppercase;
    font-size: $thirty-four;
}

.content-images {
    position: absolute;
    top: 0.5em;
    right: 0.5em;
    width: 24%;

    img {
        display: block;
        margin-bottom: 0.1em;
    }

}





/*------------------------------------*\
    $Sidebar
\*------------------------------------*/
.sidebar {
    @extend .quarter;

    .news-item {
        width: 100%;
        border-right: 0;
        @extend .cf;
    }

}

.sidebar--white {
    background-color: #fff;

    .sidebar__title {
        color: #8E8E8E;
    }

}

.sidebar__title {
    padding: 0.2em;
    margin-bottom: 0;
    border-bottom: 1px solid #c8c8c8;
    @include gotham-medium;
    font-size: $thirty-four;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: -3px;
}

.sidebar-nav {
    border-bottom: 3px solid #d6d6d6;
    padding: 0;
    padding-bottom: 3em;
    background-color: #a9a9a9;

    ul {
        margin-bottom: 0;
    }

}

 .sidebar__link {
    display: block;
    padding: 0.5em;
    border-bottom: 1px solid #c8c8c8;
    color: #343434;
    text-decoration: none;

    &:hover {
        color: #6e6e6e;
        background-color: #fff;
        text-decoration: none;
    }

 }





/*------------------------------------*\
    $Pods
\*------------------------------------*/
.pod {
    padding: 0.5em;
    margin-bottom: 1px;
    color: #fff;
    text-transform: uppercase;
    background-color: #a9a9a9;
}






/*------------------------------------*\
    $Sections
\*------------------------------------*/
.section {
    position: relative;

    .inner {

    }

}

.section--showcase {
    background-color: #0d1723;
}

.landing {

    .panel-overlay {
        width: 600px;
    }
    
    .button {
        padding: 10px 15px;
        font-size: $twelve;
        text-transform: uppercase;
    }

}

.section--blue {
    background-color: #293243;
}

.section--grey {
    background-color: #a0a0a0;

    .panel-overlay {
        background-color: rgba(160, 160, 160, 0.7);
    }


}

.section--red {
    background-color: #451b26;

    .panel-overlay {
        background-color: rgba(69, 27, 38, 0.7);
    }

}






/*------------------------------------*\
    $Social
\*------------------------------------*/
.social {
    background-color: #283241;
    background-position: 0 0;
    background-repeat: no-repeat;
    background-image: url(../images/social-bg.png);

    @include breakpoint(small) {
        
    }
    //002e48
    .inner {
        padding-bottom: 1em;

        @include breakpoint(small) {
            margin: 0 10px;
        }

    }
}

.social__channel {
    @extend .full;
    margin-bottom: 1.5em;
}

.social__text {
    float: left;
    position: relative;
    padding: 0.8em;
    text-transform: uppercase;
    color: #becae0;
    background-color: #61779f;

    @include breakpoint(small) {
        width: 100%;
        margin-bottom: 1em;
    }

    span {
        color: #fff;
    }

    .social__actions {
        position: absolute;
        left: 1em;
        bottom: 0.5em;
        font-size: $twelve;
        line-height: 2;

        @include breakpoint(small) {
            a {
                display: block;
            }
        }
    }

}

.social__quote {
    line-height: 0.9;
    letter-spacing: -3px;
    @include gotham-medium;
    font-size: $thirty-four;

    @include breakpoint(medium) {
        font-size: $twenty-six;
    }
}

.social__facebook-twitter {
    position: relative;
    overflow: hidden;
    height: 300px;

    .social__text {
        height: 100%;
    }

}

.facebook-profiles {

    @include breakpoint(small) {
        display: none;
    }

    img {
        float: left;
    }

}

.social__instagram {

    .social__text {
        min-height: 240px;

        @include breakpoint(small) {
            padding-bottom: 6em;
        }
    }

}

.instagram__image {
    float: left;
    display: block;

    @include breakpoint(small){
        display: none;
    }
}

.instagram__image--small {
    width: 50%;
}

.instagram__image--mobile {
    display: none;
    width: auto;
    margin: 0 10px 10px 0;

    @include breakpoint(small){
        display: block;
    }

    &:nth-child(4n+1) {
        clear: both;
    }
}







/*------------------------------------*\
    $Ladder
\*------------------------------------*/
.league-table {
    width: 100%;
    color: #363636;
    margin-bottom: 3em;
    font-size: $fourteen;

    tr {
        height: 50px;
        background-color: #fff;
        border-bottom: 1px solid #d6d6d6;

        &.r-rebels {
            color: #fff;
            background-color: #6379a0;
        }
    }

    th {
        color: #fff;
        text-align: center;
        line-height: 50px;
        text-transform: uppercase;
        background-color: #858989;
    }

    .plain-header {
        th {
            color: #363636;
            background-color: #fff;
        }        
    }

    td {
        text-align: center;
        line-height: 50px;
        padding: 0 15px;
    }

    .t-left {
        text-align: left;
        padding: 0;
    }

    .t-right {
        text-align: right;
        padding-right: 20px;
    }

}

.table__header {
    margin-bottom: 0;
    padding: 0.5em 1em;
    color: #fff;
    text-transform: uppercase;
    background-color: #858989;
}





/*------------------------------------*\
    $Footer
\*------------------------------------*/
.footer {
    float: left;
    width: 100%;
    background-color: #bebebe;
    background-position: 0 0;
    background-repeat: repeat-x;
    background-image: url(../images/footer-bg.gif);

    .inner {
        @include breakpoint(small) {
            padding: 1em 0.5em;
        }
    }

    h3 {
        color: #666;
        font-size: $twelve;
        text-transform: uppercase;

        @include breakpoint(small) {
            
        }
    }

    h4 {
        font-size: $fifteen;
        font-weight: normal;
        margin-bottom: 0.5em;
        @include gotham-medium;
        color: #272727;
    }

    hr {
        float: left;
        clear: left;
        width: 100%;
        height: 1px;
        border: 0;
        padding: 0;
        margin: 1em 0;
        background-color: #a5a5a5;
    }

    a {
        color: #272727;
        text-decoration: none;
        font-size: $fifteen;
        @include gotham-book;

        &:hover {
            color: #870212;
            text-decoration: none;
        }

    }

}

.footer-links {
    @include breakpoint(small) {
        width: 100%;
    }
}

.corporate-links {
    @include breakpoint(small) {
        width: 100%;
    }

    ul {
        float: left;
        width: 100%;
        margin-bottom: 1em;
    }

    a {
        float: left;
        width: 50%;
        display: block;
        padding: 1em 0.8em;
        float: left;
        border-right: 1px solid #bebebe;
        border-bottom: 1px solid #bebebe;
        font-size: $twelve;
        color: #272727;
        text-transform: uppercase;
        background-color: #fff;

        &:hover {
            color: #414040;
            background-color: #e3e3e3;
        }

        @include breakpoint(small) {
            width: 100%;
            padding: 1em;
        }

    }

}

 .sponsor-logo {
    float: left;
    display: block;

    @include breakpoint(small) {
        float: none;
        margin: 0 auto 2em auto;
    }

 }

@include breakpoint(small) {

    .gold-sponsors {
        text-align: center;

        .sponsor-logo {
            display: inline;
        }
        
    }

    .footer-list {
        width: 50%;
    }
}

 .sponsor-logo--gold {
    float: left;
 }

.made-by-eastwood {
    float: right;
}

.made-by {
    float: left;
    margin-bottom: 0;
    line-height: 55px;
    height: 55px;
}

 .eastwood-logo {
    float: left;
 }