/*------------------------------------*\
    $Contents
\*------------------------------------*/
/**
 * Contents
 * Variables
 * Mixins
 * Reset / Base
 * Type
 * Links
 * Lists
 * Tables
 * Helpers
 * Buttons
 * Forms
 * Layout

 * Site Header
 * Page Header
 * Dropdown Menus
 * Carousel
 * Carousel Panel
 * News
 * Advert
 * Player Profile
 * Features
 * Tiles
 * Content
 * Sidebar
 * Pods
 * Section
 * Social
 * Footer

 */
/*------------------------------------*\
    $Variables
\*------------------------------------*/
/* 11px: 1 / (16x11) = 0.6875   */
/* 12px: 1 / (16x12) = 0.750    */
/* 13px: 1 / (16x13) = 0.8125em */
/* 14px: 1 / (16x14) = 0.875    */
/* 16px                         */
/* 20px: 1 / (16x24) = 1.500    */
/* 26px: 1 / (16x26) = 1.625    */
/* 34px: 1 / (16x34) = 2.215    */
/* 57px: 1 / (16x57) = 3.375    */
/* 70px: 1 / (16x70) = 4.375    */
/* 85px: 1 / (16x85) =  5.3125  */
/*------------------------------------*\
    $Mixins
\*------------------------------------*/
/*------------------------------------*\
    $Reset / Base
\*------------------------------------*/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/**
 * Based on Eric Meyer's Reset 2.0 (http://meyerweb.com/eric/tools/css/reset/)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

html {
  overflow-y: scroll; }

body {
  font-family: "Gotham SSm A", "Gotham SSm B";
  font-weight: 500;
  font-style: normal;
  font-weight: 100;
  font-size: 100%;
  line-height: 1.5;
  color: #3D3D3D;
  background-color: #d6d6d6; }
  @media (max-width: 770px) {
    body {
      background-color: #11232e;
      background-position: 0 0;
      background-repeat: repeat;
      background-image: url(../images/mobile-menu-bg.gif); } }

img {
  max-width: 100%;
  height: auto;
  border: 0; }

.google-map img {
  max-width: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

/*------------------------------------*\
    $Type
\*------------------------------------*/
/**
 * Baselined lifted from: http://joshnh.com/2012/10/12/how-does-line-height-actually-work/
*/
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Gotham SSm A", "Gotham SSm B";
  font-weight: 700;
  font-style: normal;
  margin: 0; }

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  text-decoration: none; }

h1, .h1 {
  margin-bottom: 0;
  color: #fff;
  font-size: 5.3125em;
  line-height: 1;
  text-transform: uppercase;
  letter-spacing: -5px; }
  @media (max-width: 770px) {
    h1, .h1 {
      font-size: 2.5em; } }

h2, .h2 {
  font-size: 1.5em;
  line-height: 1.333333333;
  margin-bottom: 0.666666666em; }

h3, .h3 {
  font-size: 1.4em;
  line-height: 1;
  margin-bottom: 1em; }

h4, .h4 {
  font-size: 1.1em;
  line-height: 1.142857142;
  margin-bottom: 1.142857142em; }

h5, .h5 {
  font-size: 1.125em;
  line-height: 1.333333333;
  margin-bottom: 1.333333333em; }

h6, .h6 {
  font-size: 1em;
  line-height: 1.5;
  margin-bottom: 1.5em; }

p {
  font-size: 1em;
  margin-bottom: 1em;
  line-height: 1.5;
  font-family: "Gotham SSm A", "Gotham SSm B";
  font-weight: 400;
  font-style: normal; }

b, strong {
  font-weight: bold; }

em {
  font-style: italic; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/*------------------------------------*\
    $Links
\*------------------------------------*/
a {
  color: #333;
  text-decoration: underline; }
  a:focus, a:active {
    outline: none; }
  a:hover {
    text-decoration: underline; }

/*------------------------------------*\
    $Lists
\*------------------------------------*/
ul, ol {
  list-style: none;
  margin: 0 0 1em 0; }

/*------------------------------------*\
    $Tables
\*------------------------------------*/
table {
  border-collapse: collapse;
  border-spacing: 0; }

/*------------------------------------*\
    $Helpers
\*------------------------------------*/
/**
 * $Clearfix
*/
.cf:before, .sidebar .news-item:before,
.cf:after,
.sidebar .news-item:after {
  content: "";
  display: table; }

.cf:after, .sidebar .news-item:after {
  clear: both; }

.cf, .sidebar .news-item {
  zoom: 1; }

/**
 * $Floats
*/
.left {
  float: left; }

.right {
  float: right; }

.hide {
  display: none; }

/**
 * $Text Alignment
*/
.text-left {
  text-align: left; }

.text-center, .text-centre {
  text-align: center; }

.text-right {
  text-align: right; }

.content--show {
  display: block !important; }

/*------------------------------------*\
    $Buttons
\*------------------------------------*/
.button {
  display: inline-block;
  padding: 0.3em 1em;
  margin-bottom: 1em;
  text-decoration: none;
  background-color: #ebebeb; }
  .button:hover {
    color: #fff;
    text-decoration: none;
    background-color: #626262; }

.button--pink {
  color: #fff;
  background-color: #b00533; }

.button--blue {
  color: #fff;
  background-color: #646c7a; }

.button--grey {
  color: #ffffff;
  background-color: #424242; }

.button--red {
  color: #ffffff;
  background-color: #611529; }

.button--arrow {
  background-repeat: no-repeat;
  background-position: 95% 50%;
  background-image: url(../images/buttons/arrow.png); }

.pink-arrow {
  color: #b00533;
  font-size: 0.75em;
  padding-right: 20px;
  text-transform: uppercase;
  text-decoration: none;
  background-color: transparent;
  background-position: 100% 50%;
  background-repeat: no-repeat;
  background-image: url(../images/buttons/pink-arrow-small.png); }
  .pink-arrow:hover {
    text-decoration: none; }

/*------------------------------------*\
    $Forms
\*------------------------------------*/
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-border-radius: 5px; }

legend {
  border: 0;
  padding: 0; }

input,
select,
textarea,
button {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

textarea {
  overflow: auto;
  vertical-align: top; }

/**
 * $Input Lengths
*/
.s {
  width: 25%; }

.m {
  width: 50%; }

.l {
  width: 75%; }

.xl {
  width: 100%; }

/*------------------------------------*\
    $Layout
\*------------------------------------*/
.inner {
  margin: 0 auto;
  max-width: 1040px;
  padding: 2.5em;
  *zoom: 1; }
  .inner:before, .inner:after {
    display: table;
    content: ""; }
  .inner:after {
    clear: both; }
  @media (max-width: 770px) {
    .inner {
      padding: 0; } }

.section {
  float: left;
  width: 100%;
  padding: 1em; }

.full, .also-news .button, .social__channel {
  float: left;
  width: 100%; }

.half {
  float: left;
  width: 50%; }
  @media (max-width: 770px) {
    .half {
      width: 100%; } }

.two-thirds {
  float: left;
  width: 66.666666666%; }
  @media (max-width: 770px) {
    .two-thirds {
      width: 100%; } }

.third, .news-summary {
  float: left;
  width: 33.333333333%; }
  @media (max-width: 770px) {
    .third, .news-summary {
      width: 100%; } }

.three-quarters {
  float: left;
  width: 75%; }
  @media (max-width: 770px) {
    .three-quarters {
      width: 100%; } }

.quarter, .sidebar {
  float: left;
  width: 25%; }
  @media (max-width: 770px) {
    .quarter, .sidebar {
      width: 100%; } }

.three-fifths {
  float: left;
  width: 60%; }
  @media (max-width: 770px) {
    .three-fifths {
      width: 100%; } }

.two-fifths {
  float: left;
  width: 40%; }

.fifth {
  float: left;
  width: 20%; }

/*------------------------------------*\
    $Site Header
\*------------------------------------*/
.site-header {
  margin: 0 auto;
  max-width: 1020px;
  position: relative;
  height: 65px;
  padding-left: 150px;
  padding-right: 20px;
  background-color: #e3e3e3;
  *zoom: 1; }
  .site-header:before, .site-header:after {
    display: table;
    content: ""; }
  .site-header:after {
    clear: both; }
  @media (max-width: 770px) {
    .site-header {
      height: 100px;
      background-color: #c7c7c7; } }

/* $Logo */
.header__logo {
  position: absolute;
  top: 0;
  left: 25px;
  z-index: 6;
  margin-right: 1em; }
  .header__logo img {
    display: block; }

.header__name {
  float: left; }

/* $Main Nav */
.header__nav {
  float: left;
  width: 100%;
  height: 100%;
  margin-bottom: 0;
  margin-left: 0;
  list-style: none; }
  @media (max-width: 770px) {
    .header__nav {
      display: none;
      width: 90%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 100%;
      z-index: 1; } }
  .header__nav ul {
    height: 100%;
    margin-bottom: 0; }
  .header__nav li {
    display: inline; }

.header__link {
  display: inline-block;
  height: 100%;
  padding: 3em 0.75em 0.5em 0.75em;
  color: #494949;
  font-size: 0.75em;
  text-decoration: none;
  text-transform: uppercase; }
  .header__link.active, .header__link:hover {
    text-decoration: none;
    background-repeat: no-repeat;
    background-position: 50% 100%;
    background-image: url(../images/header__link--hover.gif); }
  @media (max-width: 770px) {
    .header__link {
      display: block !important;
      padding: 1em;
      height: auto;
      color: #61779f;
      text-transform: none;
      font-size: 1.6em;
      border-bottom: 1px solid #26394a;
      background: url("../images/pink-arrow.png") no-repeat;
      background-position: 98% 50%;
      /*
      background-color: transparent;
      background-repeat: no-repeat;
      background-image: url(../images/pink-arrow-mobile.png);
      */ }
      .header__link:hover {
        background: url("../images/pink-arrow.png") no-repeat;
        background-position: 98% 50%;
        /*background-color: transparent;
        background-position: 98% 50%;
        background-repeat: no-repeat;
        background-image: url(../images/pink-arrow-mobile.png);*/ } }
    @media (max-width: 770px) and (min--moz-device-pixel-ratio: 1.3), (max-width: 770px) and (-o-min-device-pixel-ratio: 2.6 / 2), (max-width: 770px) and (-webkit-min-device-pixel-ratio: 1.3), (max-width: 770px) and (min-device-pixel-ratio: 1.3), (max-width: 770px) and (min-resolution: 1.3dppx) {
      .header__link {
        /* on retina, use image that's scaled by 2 */
        background-image: url("../images/pink-arrow@2.png");
        background-size: 25px 28px; } }
      @media (max-width: 770px) and (min--moz-device-pixel-ratio: 1.3), (max-width: 770px) and (-o-min-device-pixel-ratio: 2.6 / 2), (max-width: 770px) and (-webkit-min-device-pixel-ratio: 1.3), (max-width: 770px) and (min-device-pixel-ratio: 1.3), (max-width: 770px) and (min-resolution: 1.3dppx) {
        .header__link:hover {
          /* on retina, use image that's scaled by 2 */
          background-image: url("../images/pink-arrow@2.png");
          background-size: 25px 28px; } }

@media (max-width: 770px) {
  .header__link.right {
    float: none; }

  .header__link.active {
    background: url("../images/pink-arrow.png") no-repeat;
    background-position: 98% 50%; } }
  @media (max-width: 770px) and (min--moz-device-pixel-ratio: 1.3), (max-width: 770px) and (-o-min-device-pixel-ratio: 2.6 / 2), (max-width: 770px) and (-webkit-min-device-pixel-ratio: 1.3), (max-width: 770px) and (min-device-pixel-ratio: 1.3), (max-width: 770px) and (min-resolution: 1.3dppx) {
    .header__link.active {
      /* on retina, use image that's scaled by 2 */
      background-image: url("../images/pink-arrow@2.png");
      background-size: 25px 28px; } }

.toggle-menu {
  display: none;
  background: url("../images/toggle-menu.png") no-repeat; }
  @media (min--moz-device-pixel-ratio: 1.3), (-o-min-device-pixel-ratio: 2.6 / 2), (-webkit-min-device-pixel-ratio: 1.3), (min-device-pixel-ratio: 1.3), (min-resolution: 1.3dppx) {
    .toggle-menu {
      /* on retina, use image that's scaled by 2 */
      background-image: url("../images/toggle-menu@2.png");
      background-size: 43px 33px; } }
  @media (max-width: 770px) {
    .toggle-menu {
      display: block;
      float: right;
      width: 43px;
      height: 33px;
      margin-top: 35px;
      text-indent: -9999px; } }

.close-menu {
  display: none;
  width: 100%;
  min-height: 45px;
  padding: 1em;
  border-bottom: 1px solid #61779f;
  color: #7e9daf;
  font-size: 2em;
  text-decoration: none;
  text-transform: uppercase;
  background: url("../images/close-menu.png") no-repeat;
  background-position: 98% 50%;
  /*background-color: transparent;
  background-repeat: no-repeat;
  background-image: url(../images/close-menu.png);*/ }
  @media (min--moz-device-pixel-ratio: 1.3), (-o-min-device-pixel-ratio: 2.6 / 2), (-webkit-min-device-pixel-ratio: 1.3), (min-device-pixel-ratio: 1.3), (min-resolution: 1.3dppx) {
    .close-menu {
      /* on retina, use image that's scaled by 2 */
      background-image: url("../images/close-menu@2.png");
      background-size: 23px 22px; } }
  @media (max-width: 770px) {
    .close-menu {
      display: block; } }
  .close-menu:hover {
    text-decoration: none; }

/*------------------------------------*\
    $Page Header
\*------------------------------------*/
.page-header {
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-image: url(../images/page-header-bg.png); }
  .page-header .inner {
    position: relative;
    height: 225px;
    padding-top: 1.5em;
    padding-bottom: 1.5em; }
    @media (max-width: 770px) {
      .page-header .inner {
        padding: 1.5em;
        height: auto; } }
  .page-header h1 {
    padding-top: 110px; }
    @media (max-width: 770px) {
      .page-header h1 {
        padding-top: 0; } }

/*------------------------------------*\
    $Dropdown Menus
\*------------------------------------*/
@media (max-width: 770px) {
  .extra-nav {
    display: none; } }

.dropdown {
  display: none;
  position: absolute;
  z-index: 5;
  top: 100%;
  left: 0;
  width: 100%;
  max-width: 1020px;
  height: 430px;
  margin: 0 auto;
  padding: 2em 2em 2em 155px;
  background-color: transparent;
  background-position: 0 0;
  background-repeat: no-repeat;
  background-image: url(../images/carousel/dropdown-bg.png); }
  .dropdown p {
    margin-bottom: 0.5em;
    padding-right: 1em;
    font-size: 0.875em; }
  .dropdown .button {
    font-size: 0.75em;
    text-transform: uppercase; }

.dropdown__title {
  display: block;
  padding-bottom: 0.5em;
  margin-right: 0.5em;
  margin-bottom: 0.5em;
  color: #363636;
  font-size: 0.875em;
  font-weight: normal;
  border-bottom: 1px solid #d4d5d6; }

.dropdown__title--plain {
  padding-bottom: 0;
  border-bottom: 0;
  color: #121212; }

/*
* News Dropdown
*/
.news-summary__image {
  display: block;
  border: 2px solid #d6d6d6;
  margin-bottom: 1em;
  -webkit-box-shadow: 0px 10px 20px rgba(51, 51, 51, 0.75);
  -moz-box-shadow: 0px 10px 20px rgba(51, 51, 51, 0.75);
  box-shadow: 0px 10px 20px rgba(51, 51, 51, 0.75); }

.also-news .dropdown__title {
  padding-bottom: 0.5em;
  margin-bottom: 0;
  font-size: 0.875em;
  color: #121212; }
.also-news .button {
  padding: 1em; }

/*
* Team Dropdown
*/
.arrow-list {
  margin-left: 0 !important;
  margin-bottom: 2em;
  list-style: none !important; }
  .arrow-list a {
    display: block;
    padding: 0.2em 2em 0.2em 0;
    text-decoration: none;
    font-size: 0.875em;
    border-bottom: 1px solid #d4d5d6;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: 97% 50%;
    background-image: url(../images/buttons/pink-arrow-small.png); }

.arrow-list--plain li {
  float: left;
  width: 33.333333333%;
  margin-bottom: 0.2em; }
.arrow-list--plain a {
  padding: 0 0 0 1.5em;
  border-bottom: 0;
  background-position: 0.1em 50%; }

.squad-list li {
  float: left;
  width: 25%; }
.squad-list a {
  padding-left: 2.5em;
  padding-right: 0.2em;
  background-position: 5% 25%; }
.squad-list span {
  display: block;
  color: #363636;
  font-size: 0.8125em; }

.team-kit {
  margin-top: 3em; }

.dropdown--club .button {
  width: 75%; }

/*
* Matches Dropdown
*/
.next-match .teams {
  overflow: hidden;
  margin-right: 0.5em;
  text-align: center;
  border-bottom: 1px solid #d4d5d6; }
  .next-match .teams p {
    font-size: 0.75em; }
.next-match .button {
  width: 40%;
  padding: 1em; }

.lineup {
  margin-bottom: 10px;
  min-height: 30px;
  background-repeat: no-repeat;
  background-position: 50%;
  background-image: url(../images/white-vs.png); }

.fixtures {
  padding-right: 0.5em;
  margin-right: 0; }
  .fixtures .dropdown__title {
    margin-right: 0; }

.ladder .dropdown__title {
  margin-right: 0; }

.fixtures-ladder .dropdown__title {
  margin-bottom: 0; }
.fixtures-ladder table {
  width: 100%;
  font-size: 11px;
  font-family: "Gotham SSm A", "Gotham SSm B";
  font-weight: 400;
  font-style: normal; }
  .fixtures-ladder table tr {
    border-bottom: 1px solid #c8cbd0; }
  .fixtures-ladder table th {
    text-transform: uppercase;
    padding: 9px 5px;
    text-align: left; }
  .fixtures-ladder table td {
    padding: 10px 7px; }
  .fixtures-ladder table .date {
    text-transform: uppercase;
    width: 60px; }
  .fixtures-ladder table .result {
    text-align: right; }
  .fixtures-ladder table .points {
    width: 45px;
    text-align: right; }
  .fixtures-ladder table .highlight td {
    background-color: rgba(255, 255, 255, 0.5); }
.fixtures-ladder .table-header {
  border-bottom: 0;
  background-color: rgba(255, 255, 255, 0.3); }
.fixtures-ladder .button {
  width: 100%;
  padding: 1em;
  border-top: 1px solid #d4d5d6; }

/*------------------------------------*\
    $Carousel
\*------------------------------------*/
.carousel {
  position: relative;
  width: 100%;
  max-width: 1045px;
  margin: 0 auto; }
  .carousel .panel {
    *zoom: 1;
    display: none;
    position: relative;
    width: 100%;
    height: 100%;
    background-color: transparent;
    background-position: 50% 0;
    background-repeat: no-repeat; }
    .carousel .panel:before, .carousel .panel:after {
      display: table;
      content: ""; }
    .carousel .panel:after {
      clear: both; }
  .carousel .panel:first-of-type {
    display: block; }

.carousel--match {
  height: 585px; }
  @media (max-width: 770px) {
    .carousel--match {
      height: auto; } }
  .carousel--match h1 {
    font-size: 5.3125em; }
    @media (max-width: 770px) {
      .carousel--match h1 {
        font-size: 4em; } }

.panel__image {
  display: block;
  margin: 0 auto; }

.image-effect {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-image: url(../images/carousel-image-effect.png); }

/*------------------------------------*\
    $Carousel Controls
\*------------------------------------*/
.carousel__controls {
  position: absolute;
  top: 2em;
  right: 2em;
  z-index: 4;
  list-style: none; }
  @media (max-width: 770px) {
    .carousel__controls {
      top: auto;
      right: auto;
      bottom: -0.5em;
      left: 45%; } }

.carousel__thumbnail {
  float: left;
  margin: 0 0.2em 0.2em 0;
  border: 4px solid #8391a1; }
  @media (max-width: 770px) {
    .carousel__thumbnail {
      border: none; } }
  .carousel__thumbnail img {
    display: block;
    opacity: 0.7; }
    @media (max-width: 770px) {
      .carousel__thumbnail img {
        display: none; } }
    .carousel__thumbnail img:hover {
      opacity: 1; }
  .carousel__thumbnail:nth-child(odd) {
    clear: left; }

@media (max-width: 770px) {
  .carousel__thumbnail a {
    display: block;
    width: 20px;
    height: 20px;
    border: 4px solid #335d73;
    border-radius: 20px;
    background-color: #335d73; }

  .carousel__thumbnail--active a {
    border: 4px solid #8391a1;
    background-color: #8391a1; } }
.carousel__thumbnail--active img {
  opacity: 1; }

/*------------------------------------*\
    $Carousel Panel
\*------------------------------------*/
.panel-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  background-color: rgba(25, 40, 58, 0.8); }
  @media (max-width: 770px) {
    .panel-overlay {
      float: left;
      width: 100%;
      position: relative;
      bottom: auto;
      left: auto;
      background-color: #002e48; } }
  .panel-overlay .button {
    margin-bottom: 0; }

@media (max-width: 770px) {
  .panel-overlay--has-controls {
    padding-bottom: 3em; } }
.panel-overlay--short {
  width: 50%;
  padding-bottom: 1em; }
  @media (max-width: 770px) {
    .panel-overlay--short {
      width: 100%; } }
  .panel-overlay--short .button {
    position: absolute;
    bottom: 0; }
    @media (max-width: 770px) {
      .panel-overlay--short .button {
        left: 0; } }

.panel-overlay--right {
  left: auto;
  right: 0; }

.sticker {
  position: absolute;
  top: -10px;
  left: -10px;
  width: 98px;
  height: 98px;
  text-indent: -9999px;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: 0 0; }
  @media (max-width: 770px) {
    .sticker {
      display: none; } }

.sticker.win {
  background-image: url(../images/stickers/winners.png); }

.sticker.next {
  background-color: #b00533; }

.panel__title {
  color: #fff;
  padding: 1.5em; }
  @media (max-width: 770px) {
    .panel__title {
      padding: 0.5em; } }

.player-profile__name {
  padding: 1.5em; }

.vs {
  display: inline-block;
  width: 45px;
  height: 45px;
  margin-left: 0.3em;
  background-color: transparent;
  background-position: 0 0;
  background-repeat: no-repeat;
  background-image: url(../images/vs.png); }

.match__team {
  display: block;
  float: left;
  clear: left; }

.match__points {
  color: #7589ab; }

.stats {
  float: left;
  padding: 1.5em; }
  @media (max-width: 770px) {
    .stats {
      width: 100%;
      padding: 0 0.5em; } }
  @media (max-width: 770px) {
    .stats ul {
      float: left; } }
  .stats li, .stats p {
    color: #fff; }
    @media (max-width: 770px) {
      .stats li, .stats p {
        display: inline; } }

.stat {
  float: left;
  width: 50%; }

.stat__title {
  font-size: 0.75em;
  line-height: 1.5;
  color: #9eb3cb;
  text-transform: uppercase; }
  @media (max-width: 770px) {
    .stat__title {
      float: left;
      clear: left;
      margin-right: 0.5em;
      font-size: 1em; } }

.match__summary {
  padding-top: 0.8em;
  padding-left: 2em;
  margin-bottom: 0;
  min-height: 3em;
  color: #fff;
  background-color: #69788a; }
  @media (max-width: 770px) {
    .match__summary {
      display: none; } }

@media (max-width: 770px) {
  .match__actions {
    width: 100%;
    padding-left: 5%;
    padding-right: 5%; } }
.match__actions .button {
  min-height: 3em;
  line-height: 3em;
  padding-top: 0;
  padding-bottom: 0; }
  .match__actions .button:first-of-type {
    width: 49%;
    margin-right: 1%; }
  @media (max-width: 770px) {
    .match__actions .button {
      width: 50%; } }

.quick-stats {
  float: left;
  width: 100%;
  border-top: 1px solid #53606e;
  color: #fff;
  font-size: 0.75em; }
  .quick-stats li {
    float: left;
    width: 100%;
    padding: 0.2em 0;
    border-bottom: 1px solid #53606e; }
  .quick-stats span:nth-child(odd) {
    float: left;
    display: inline-block;
    width: 30%;
    text-transform: uppercase; }
  .quick-stats span:nth-child(even) {
    float: left;
    width: 70%; }

/*------------------------------------*\
    $News
\*------------------------------------*/
.main {
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-image: url(../images/main-bg.gif); }
  @media (max-width: 770px) {
    .main {
      background-image: none; } }
  .main .inner {
    padding-top: 2.5em;
    padding-bottom: 2.5em; }
    @media (max-width: 770px) {
      .main .inner {
        padding: 0.5em; } }

.article__date {
  color: #8E8E8E;
  text-transform: uppercase; }

.news-item {
  position: relative;
  padding: 0.5em;
  height: 260px;
  border-right: 1px solid #d6d6d6;
  border-bottom: 1px solid #d6d6d6;
  background-color: #fff;
  text-decoration: none; }
  @media (max-width: 770px) {
    .news-item {
      height: auto;
      border-right: 0; } }
  .news-item p {
    float: left;
    font-size: 0.75em;
    color: #363636;
    text-decoration: none; }
    @media (max-width: 770px) {
      .news-item p {
        width: 60%;
        padding-left: 0.5em; } }

.news-item.last {
  border-right: 0; }

.news__title {
  height: 260px;
  padding: 0.5em;
  margin-bottom: 0;
  border-right: 1px solid #d6d6d6;
  border-bottom: 1px solid #d6d6d6;
  color: #8b8d90;
  font-size: 2.125em;
  letter-spacing: -3px;
  text-transform: uppercase;
  background-color: #fff; }
  @media (max-width: 770px) {
    .news__title {
      height: auto;
      color: #fff;
      font-size: 1.5em;
      background-color: transparent; } }

.news-item__image {
  width: 100%;
  margin-bottom: 0.5em; }
  @media (max-width: 770px) {
    .news-item__image {
      float: left;
      width: 40%;
      margin: 0; } }

.news-item__info {
  position: absolute;
  top: 0.5em;
  left: 0.5em; }
  @media (max-width: 770px) {
    .news-item__info {
      position: relative;
      top: auto;
      left: auto;
      float: left;
      width: 60%;
      padding-left: 0.5em; } }

.news-item__date {
  display: block;
  width: 45px;
  height: 45px;
  padding: 0.2em;
  color: #fff;
  font-family: "Gotham SSm A", "Gotham SSm B";
  font-weight: 700;
  font-style: normal;
  line-height: 1.2;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  background-color: #677986; }
  @media (max-width: 770px) {
    .news-item__date {
      display: inline;
      float: left;
      width: auto;
      height: auto;
      margin-right: 0.5em;
      padding: 0;
      color: #8b8b8b;
      background-color: transparent; } }

.news-item__icon {
  position: absolute;
  top: 45px;
  left: 0; }
  @media (max-width: 770px) {
    .news-item__icon {
      position: relative;
      top: 0;
      left: 0; } }

.icon {
  display: inline-block;
  width: 45px;
  height: 45px;
  background-color: #cf1344;
  background-repeat: no-repeat;
  background-position: 50%; }
  @media (max-width: 770px) {
    .icon {
      width: 30px;
      height: 20px; } }

.icon.video {
  background-image: url(../images/icons/video.gif); }
  @media (max-width: 770px) {
    .icon.video {
      background-image: url(../images/icons/video-small.gif); } }

.load-more {
  display: block;
  float: left;
  clear: left;
  width: 100%;
  padding: 0.5em;
  color: #A7A7A7;
  font-size: 2.125em;
  font-family: "Gotham SSm A", "Gotham SSm B";
  font-weight: 700;
  font-style: normal;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #fff;
  background-repeat: no-repeat; }
  @media (max-width: 770px) {
    .load-more {
      font-size: 1.5em; } }
  .load-more:hover {
    text-decoration: none; }

.load-more--plus {
  padding-right: 2em;
  background-position: 98% 50%;
  background-image: url(../images/plus.gif); }

.load-more--list {
  width: 74%;
  padding-left: 2em;
  margin-top: 1px;
  margin-bottom: 0.5em;
  background-position: 2% 50%;
  background-image: url(../images/list.gif); }

.sort-by {
  float: left;
  display: block;
  width: 50%;
  padding: 1em 0.5em;
  border-bottom: 1px solid #d6d6d6;
  color: #a7a7a7;
  font-family: "Gotham SSm A", "Gotham SSm B";
  font-weight: 500;
  font-style: normal;
  font-size: 1.5em;
  text-decoration: none;
  text-transform: uppercase;
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: 98% 50%;
  background-image: url(../images/grey-arrow.gif); }
  @media (max-width: 770px) {
    .sort-by {
      font-size: 1em; } }
  .sort-by:first-of-type {
    border-right: 1px solid #d6d6d6; }
  .sort-by:hover {
    text-decoration: none; }

/*------------------------------------*\
    $Advert
\*------------------------------------*/
.team {
  padding-bottom: 2.5em;
  border-left: 10px solid #D6D6D6;
  border-right: 10px solid #D6D6D6;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-image: url(../images/team-bg.gif); }
  .team .inner {
    padding-top: 0;
    padding-bottom: 0; }

.advert {
  padding: 1.5em; }

.advert__image {
  display: block;
  margin: 0 auto; }

/*------------------------------------*\
    $Player Profile
\*------------------------------------*/
.player-profile {
  margin: 0 auto;
  max-width: 940px;
  min-height: 450px;
  border: 8px solid #fff; }
  .player-profile .quarter, .player-profile .sidebar {
    position: relative; }
    @media (max-width: 770px) {
      .player-profile .quarter, .player-profile .sidebar {
        height: 50px;
        min-height: auto; } }
  @media (max-width: 770px) {
    .player-profile .button {
      float: left;
      width: 50%; } }

.player-profile__image {
  display: block; }

.player__stats {
  height: 190px;
  min-height: 190px;
  padding: 0;
  padding-top: 1em; }
  @media (max-width: 770px) {
    .player__stats {
      width: 50%; } }
  @media (max-width: 770px) {
    .player__stats .stat {
      display: none; } }
  .player__stats .button {
    position: absolute;
    left: 0;
    bottom: 0;
    margin-bottom: 0;
    width: 99%; }

.player__squad {
  height: 190px;
  min-height: 190px; }
  @media (max-width: 770px) {
    .player__squad {
      width: 50%; } }
  .player__squad .button {
    position: absolute;
    left: 0;
    bottom: 0;
    margin-bottom: 0; }
    @media (max-width: 770px) {
      .player__squad .button {
        width: 100%; } }

.view-squad {
  display: block;
  float: left;
  width: 100%;
  height: 100%;
  color: #626262;
  padding: 0.2em;
  line-height: 1;
  font-family: "Gotham SSm A", "Gotham SSm B";
  font-weight: 700;
  font-style: normal;
  font-size: 2.125em;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #e2e3e4; }
  .view-squad:hover {
    text-decoration: none; }
  @media (max-width: 770px) {
    .view-squad {
      display: none; } }

.jersey {
  position: relative;
  color: #fff;
  font-size: 0.75em; }
  .jersey .label {
    display: block;
    position: absolute;
    top: 45%;
    left: 1em;
    text-transform: uppercase;
    /* Safari */
    -webkit-transform: rotate(-90deg);
    /* Firefox */
    -moz-transform: rotate(-90deg);
    /* IE */
    -ms-transform: rotate(-90deg);
    /* Opera */
    -o-transform: rotate(-90deg);
    /* Internet Explorer */
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3); }

.jersey__number {
  float: right;
  margin-right: 0.1em;
  font-family: "Gotham SSm A", "Gotham SSm B";
  font-weight: 700;
  font-style: normal;
  font-size: 8.5em; }

.content-switcher {
  position: absolute;
  top: 2em;
  right: 4em;
  color: #c6d2e6;
  font-size: 0.75em;
  text-transform: uppercase;
  background-color: #61779f; }
  .content-switcher a {
    display: inline-block;
    float: left;
    height: 40px;
    color: #c7d2e6;
    text-decoration: none;
    background-color: transparent;
    background-position: 0 0;
    background-repeat: no-repeat;
    background-image: url(../images/buttons/blue-arrows.gif); }
  .content-switcher .switch {
    padding: 0.9em 1em 0.5em 40px;
    background-position: 0 0; }
  .content-switcher .previous {
    width: 40px;
    border-left: 1px solid #8a99b5;
    text-indent: -9999px;
    background-position: 0 -40px; }
  .content-switcher .next {
    width: 40px;
    border-left: 1px solid #8a99b5;
    text-indent: -9999px;
    background-position: 0 -80px; }

.content-switcher--news .switch {
  background-image: url(../images/buttons/blue-menu.gif); }

/*------------------------------------*\
    $Features
\*------------------------------------*/
.features {
  border-left: 10px solid #D6D6D6;
  border-right: 10px solid #D6D6D6;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-image: url(../images/features-bg.gif); }

/*------------------------------------*\
    $Tiles
\*------------------------------------*/
.tile {
  position: relative;
  width: 24%;
  margin-right: 1.3%;
  border: 8px solid #fff; }
  @media (max-width: 770px) {
    .tile {
      width: 100%;
      margin-bottom: 1%;
      margin-right: 0; } }
  .tile:nth-child(4n+4) {
    margin-right: 0; }

.tile.last {
  margin-right: 0; }

.tile__image {
  display: block;
  width: 100%; }

.tile__overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  min-height: 4.5em;
  margin-bottom: 0;
  padding: 0.5em;
  background-color: #8b8c8e;
  cursor: pointer; }
  .tile__overlay:hover {
    text-decoration: none;
    background-color: #686868; }

.tile__title {
  color: #fff;
  font-size: 1.625em;
  font-family: "Gotham SSm A", "Gotham SSm B";
  font-weight: 500;
  font-style: normal;
  text-decoration: none;
  text-transform: uppercase; }
  .tile__title:hover {
    text-decoration: none;
    background-color: #686868; }

.tile__content {
  display: none;
  color: #b2b2b2; }
  .tile__content span {
    display: block;
    color: #fff;
    font-size: 0.75em;
    text-transform: uppercase; }

/*------------------------------------*\
    $Content
\*------------------------------------*/
.container {
  width: 100%; }

.content {
  position: relative;
  float: left;
  width: 74%;
  padding: 0.5em 0.5em 2em 0.5em;
  margin-right: 1%;
  background-color: #fff; }
  @media (max-width: 770px) {
    .content {
      width: 100%; } }
  .content .text {
    width: 75%; }
  .content p {
    color: #424242; }
  .content img {
    margin-bottom: 1em; }
  .content blockquote {
    margin-bottom: 0.5em;
    color: #a31c3f;
    font-weight: bold;
    line-height: 1;
    text-transform: uppercase;
    font-size: 2.125em; }
  .content h3 {
    color: #777;
    font-size: 1.625em; }
  .content h4 {
    color: #3c3c3c; }
  .content ul {
    overflow: hidden;
    margin-left: 1em;
    list-style: disc inside;
    color: #424242; }

.content--wide {
  width: 100%;
  padding-bottom: 6em;
  margin-right: 0;
  margin-bottom: 10px; }

@media (max-width: 770px) {
  .content p, .content blockquote, .content ul {
    width: 100%; } }
.content__title {
  color: #8e8e8e;
  line-height: 1;
  text-transform: uppercase;
  font-size: 2.125em; }

.content-images {
  position: absolute;
  top: 0.5em;
  right: 0.5em;
  width: 24%; }
  .content-images img {
    display: block;
    margin-bottom: 0.1em; }

/*------------------------------------*\
    $Sidebar
\*------------------------------------*/
.sidebar .news-item {
  width: 100%;
  border-right: 0; }

.sidebar--white {
  background-color: #fff; }
  .sidebar--white .sidebar__title {
    color: #8E8E8E; }

.sidebar__title {
  padding: 0.2em;
  margin-bottom: 0;
  border-bottom: 1px solid #c8c8c8;
  font-family: "Gotham SSm A", "Gotham SSm B";
  font-weight: 500;
  font-style: normal;
  font-size: 2.125em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -3px; }

.sidebar-nav {
  border-bottom: 3px solid #d6d6d6;
  padding: 0;
  padding-bottom: 3em;
  background-color: #a9a9a9; }
  .sidebar-nav ul {
    margin-bottom: 0; }

.sidebar__link {
  display: block;
  padding: 0.5em;
  border-bottom: 1px solid #c8c8c8;
  color: #343434;
  text-decoration: none; }
  .sidebar__link:hover {
    color: #6e6e6e;
    background-color: #fff;
    text-decoration: none; }

/*------------------------------------*\
    $Pods
\*------------------------------------*/
.pod {
  padding: 0.5em;
  margin-bottom: 1px;
  color: #fff;
  text-transform: uppercase;
  background-color: #a9a9a9; }

/*------------------------------------*\
    $Sections
\*------------------------------------*/
.section {
  position: relative; }

.section--showcase {
  background-color: #0d1723; }

.landing .panel-overlay {
  width: 600px; }
.landing .button {
  padding: 10px 15px;
  font-size: 0.75em;
  text-transform: uppercase; }

.section--blue {
  background-color: #293243; }

.section--grey {
  background-color: #a0a0a0; }
  .section--grey .panel-overlay {
    background-color: rgba(160, 160, 160, 0.7); }

.section--red {
  background-color: #451b26; }
  .section--red .panel-overlay {
    background-color: rgba(69, 27, 38, 0.7); }

/*------------------------------------*\
    $Social
\*------------------------------------*/
.social {
  background-color: #283241;
  background-position: 0 0;
  background-repeat: no-repeat;
  background-image: url(../images/social-bg.png); }
  .social .inner {
    padding-bottom: 1em; }

.social__channel {
  margin-bottom: 1.5em; }

.social__text {
  float: left;
  position: relative;
  padding: 0.8em;
  text-transform: uppercase;
  color: #becae0;
  background-color: #61779f; }
  @media (max-width: 770px) {
    .social__text {
      width: 100%;
      margin-bottom: 1em; } }
  .social__text span {
    color: #fff; }
  .social__text .social__actions {
    position: absolute;
    left: 1em;
    bottom: 1em;
    font-size: 0.75em;
    line-height: 2; }

.social__quote {
  line-height: 1;
  letter-spacing: -3px;
  font-family: "Gotham SSm A", "Gotham SSm B";
  font-weight: 500;
  font-style: normal;
  font-size: 2.125em; }

.social__facebook-twitter {
  position: relative;
  overflow: hidden;
  height: 300px; }
  .social__facebook-twitter .social__text {
    height: 100%; }

@media (max-width: 770px) {
  .facebook-profiles {
    display: none; } }
.facebook-profiles img {
  float: left; }

.social__instagram .social__text {
  min-height: 240px;
  height: 240px; }

.instagram__image {
  float: left;
  display: block; }
  @media (max-width: 770px) {
    .instagram__image {
      width: 50%; } }

.instagram__image--small {
  width: 50%; }
  @media (max-width: 770px) {
    .instagram__image--small {
      width: 25%; } }

/*------------------------------------*\
    $Footer
\*------------------------------------*/
.footer {
  float: left;
  width: 100%;
  background-color: #bebebe;
  background-position: 0 0;
  background-repeat: repeat-x;
  background-image: url(../images/footer-bg.gif); }
  @media (max-width: 770px) {
    .footer .inner {
      padding: 1em 0.5em; } }
  .footer h3 {
    color: #666;
    font-size: 0.75em;
    text-transform: uppercase; }
  .footer h4 {
    font-size: 1em;
    margin-bottom: 0.5em;
    font-weight: normal;
    color: #272727; }
  .footer hr {
    float: left;
    clear: left;
    width: 100%;
    height: 1px;
    border: 0;
    padding: 0;
    margin: 1em 0;
    background-color: #a5a5a5; }
  .footer a {
    text-decoration: none; }
    .footer a:hover {
      text-decoration: underline; }

@media (max-width: 770px) {
  .footer-links {
    width: 100%; } }

@media (max-width: 770px) {
  .corporate-links {
    width: 100%; } }
.corporate-links ul {
  float: left;
  width: 100%;
  margin-bottom: 1em; }
.corporate-links a {
  float: left;
  width: 50%;
  display: block;
  padding: 0.5em;
  float: left;
  border-right: 1px solid #bebebe;
  border-bottom: 1px solid #bebebe;
  font-size: 0.75em;
  color: #272727;
  text-transform: uppercase;
  background-color: #fff; }
  @media (max-width: 770px) {
    .corporate-links a {
      width: 100%;
      padding: 1em; } }

.sponsor-logo {
  float: left;
  display: block; }
  @media (max-width: 770px) {
    .sponsor-logo {
      float: none;
      margin: 0 auto 2em auto; } }

@media (max-width: 770px) {
  .gold-sponsors {
    text-align: center; }
    .gold-sponsors .sponsor-logo {
      display: inline; }

  .footer-list {
    width: 50%; } }
.sponsor-logo--gold {
  float: left; }

.made-by-eastwood {
  float: right; }

.made-by {
  float: left;
  margin-bottom: 0;
  line-height: 55px;
  height: 55px; }

.eastwood-logo {
  float: left; }
